Pitt_CS1550_recitation_materials
StanfordCompilerVideos
xv6-public
linux-2.6.23.1
.vscode
*.o
spim

parser/parser 
parser.output
parser.tab.bison
parser.tab.c
parser.tab.h
parser/lex.yy.c
parser/main.ast
parser/parser.zip

codegen/codegen
codegen/parser.c
codegen/parser.tokens.h
lex.yy.c

**/out_test

working
semantics/parser
sftp-config.json
